@charset "UTF-8";

@font-face {
	font-family: 'HSR Icon';
	src: url('/fonts/hsr-icon.eot');
	src: url('/fonts/hsr-icon.eot?#iefix') format('embedded-opentype'),
		url('/fonts/hsr-icon.woff') format('woff'), url('/fonts/hsr-icon.ttf') format('truetype'),
		url('/fonts/hsr-icon.svg#hsr-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'HSR Icon' !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^='hsr-']:before,
[class*=' hsr-']:before {
	font-family: 'HSR Icon' !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.hsr-close:before {
	content: '\61';
}
.hsr-star:before {
	content: '\62';
}
.hsr-skip:before {
	content: '\63';
}
.hsr-shrink:before {
	content: '\64';
}
.hsr-fullscreen:before {
	content: '\65';
}
.hsr-chevron-right:before {
	content: '\66';
}
.hsr-chevron-left:before {
	content: '\67';
}
.hsr-caret-up:before {
	content: '\68';
}
.hsr-caret-down:before {
	content: '\69';
}
.hsr-minus:before {
	content: '\6b';
}
.hsr-plus:before {
	content: '\6a';
}
.hsr-preservation:before {
	content: '\6c';
}
.hsr-nihility:before {
	content: '\6d';
}
.hsr-hunt:before {
	content: '\6e';
}
.hsr-harmony:before {
	content: '\6f';
}
.hsr-erudition:before {
	content: '\70';
}
.hsr-destruction:before {
	content: '\71';
}
.hsr-abundance:before {
	content: '\72';
}
.hsr-rotate-phone:before {
	content: '\73';
}
.hsr-wind:before {
	content: '\74';
}
.hsr-quantum:before {
	content: '\75';
}
.hsr-fire:before {
	content: '\76';
}
.hsr-ice:before {
	content: '\77';
}
.hsr-imaginary:before {
	content: '\78';
}
.hsr-lightning:before {
	content: '\79';
}
.hsr-physical:before {
	content: '\7a';
}
.hsr-time:before {
	content: '\41';
}
.hsr-search:before {
	content: '\42';
}
.hsr-bulb:before {
	content: '\44';
}
.hsr-warp:before {
	content: '\43';
}
.hsr-share:before {
	content: '\45';
}
.hsr-cog:before {
	content: '\46';
}
.hsr-refresh:before {
	content: '\47';
}
.hsr-trash:before {
	content: '\48';
}
.hsr-archive:before {
	content: '\49';
}
.hsr-back:before {
	content: '\4a';
}
.hsr-character:before {
	content: '\4b';
}
.hsr-check:before {
	content: '\4c';
}
.hsr-embers:before {
	content: '\4e';
}
.hsr-recomended:before {
	content: '\4f';
}
.hsr-shop:before {
	content: '\50';
}
.hsr-lightcone:before {
	content: '\51';
}
.hsr-more:before {
	content: '\52';
}
.hsr-all:before {
	content: '\53';
}
.hsr-stellar-jade:before {
	content: '\54';
}
.hsr-starlight:before {
	content: '\55';
}
.hsr-menu-bar:before {
	content: '\56';
}
.hsr-log:before {
	content: '\57';
}
.hsr-cogs:before {
	content: '\58';
}
.hsr-menu:before {
	content: '\59';
}
.hsr-bug:before {
	content: '\5a';
}
.hsr-honor:before {
	content: '\30';
}
.hsr-times:before {
	content: '\31';
}
.hsr-arrow-right:before {
	content: '\4d';
}
.hsr-arrow-left:before {
	content: '\32';
}
.hsr-win:before {
	content: '\33';
}
.hsr-lose:before {
	content: '\34';
}
.hsr-selected:before {
	content: '\35';
}
.hsr-guaranteed:before {
	content: '\36';
}
.hsr-left-arrow:before {
	content: '\37';
}
.hsr-right-arrow:before {
	content: '\38';
}
.hsr-note:before {
	content: '\39';
}
.hsr-select:before {
	content: '\21';
}
.hsr-phonograph:before {
	content: '\22';
}
.hsr-play:before {
	content: '\23';
}
.hsr-pause:before {
	content: '\24';
}
.hsr-music:before {
	content: '\25';
}
.hsr-volume-up:before {
	content: '\26';
}
.hsr-volume-off:before {
	content: '\27';
}
.hsr-volume-down:before {
	content: '\28';
}
.hsr-suffle:before {
	content: '\29';
}
.hsr-loop:before {
	content: '\2a';
}
.hsr-spinner:before {
	content: '\2b';
}
.hsr-server:before {
	content: '\2c';
}
.hsr-facebook:before {
	content: '\2d';
}
.hsr-twitter:before {
	content: '\2e';
}
.hsr-dot-3:before {
	content: '\2f';
}
.hsr-clone:before {
	content: '\3a';
}
.hsr-link:before {
	content: '\3b';
}
.hsr-save:before {
	content: '\3c';
}
.hsr-instagram:before {
	content: '\3d';
}
.hsr-pinterest:before {
	content: '\3e';
}
.hsr-eye:before {
	content: '\3f';
}
.hsr-eye-slash:before {
	content: '\40';
}
.hsr-lock:before {
	content: '\5b';
}
.hsr-chat:before {
	content: '\5d';
}
.hsr-cog-bold:before {
	content: '\5e';
}
